* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(193, 253, 243);
}

body {
    font-size: 1.2rem;
    background-color: whitesmoke;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px;
}

h2 { 
    font-size: 1.75rem;  
    font-weight: 600;
    padding: 10px;
}

p {
    padding: 10px;
}

ul {
    padding: 10px;
}

li {
    padding: 5px;
}

footer {
    background-color: rgb(193, 253, 243);
}

.container {
    width: 90%;
    margin: 0 auto;
}