/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2rem;
    background-color: whitesmoke;


}

h1 {
    font-size: 50px;
}

header {
    background-color: teal;
}

footer {
    background-color: teal;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 20px;
    
}

.container {
    width: 90%;
    margin: 0 auto;

}

.header-container {
    
}

.main-container {
    min-height: 200px;
    background-color: aquamarine;

}

.footer.container {

}

nav {

}

nav a {
    list-style: none;
    text-decoration: none;
    
} */